* {
  margin: 0;
  padding: 0;
}

body {
  width: 900px;
  margin: 50px auto;
  border: 6px solid #000;
  font-family: sans-serif;
  line-height: l.4;
}

.page-title {
  text-align: center;
  font-family: sans-serif;
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px 0px;
  position: relative;
}

.page-title::before {
  content: "sale";
  background-color: #c90808;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  position: absolute;
  top: -20px;
  left: -45px;
}

.price {
  font-size: 28px;
  float: left;
}

#shipping {
  font-weight: bold;
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  float: right;
  margin-top: 10px;
}

.color-container {
  align-items: center;
  margin: 15px 0px;
}

.color-box {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 10px;
}
.color-box.black {
  background-color: #000;
}
.color-box.blue {
  background-color: #0000ff;
}
.color-box.red {
  background-color: #ff0000;
}
.color-box.orange {
  background-color: #ffa500;
}
.color-box.green {
  background-color: #3fa52a;
}
.color-box.brown {
  background-color: #8b4513;
}

.description {
  font-weight: 500;
  margin: 10px 0px;
  clear: both;
}

a:link {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a:visited {
  color: #000;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.product-detail {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0px;
}

ul {
  list-style-type: square;
  line-height: 1.6;
  font-size: 18px;
  margin-left: 20px;
}

.add-to-cart {
  background-color: #000;
  color: #fff;
  font-size: 25px;
  padding: 10px 30px;
  border: none;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
}

.add-to-cart:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border-top: 4px solid #000;
}

.details {
  width: 250px;
  float: right;
  margin-top: 10px;
}

.product-info {
  width: 250px;
  float: right;
}
