* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h4,
p,
li {
  color: #444;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 10px;
}
/* pesudo elements */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

/* Pseudo Elements */
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-weight: bold;
  font-size: 16px;
  color: #444;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-posts {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 150px;
}

article {
  margin-bottom: 60px;
  width: 825px;
}

.post-header {
  margin-bottom: 40px;
}

.post-img {
  width: 100%;
  height: auto;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 10px 40px;
  width: 500px;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

/* Styling Hyperlink  */
a:link {
  color: #1098ad;
  text-decoration: none;
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0px;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.like-btn {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* FLOATS */
/* #author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.author-img {
  height: 50px;
  width: 50px;
  float: left;
}

h1 {
  float: left;
}

nav {
  float: right;
}

article {
  float: left;
}

aside {
  float: right;
}
footer {
  clear: both;
} */

/* FLEX-BOX */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#author {
  margin-bottom: 0px;
  margin-left: 15px;
}
.related-posts {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}
.related-author {
  margin-bottom: 0px;
  font-size: 14px;
  font-style: italic;
}
.flex-row {
  display: flex;
  align-items: start;
  gap: 75px;
  margin-bottom: 15px;
}
article {
  flex: 0 0 825px;
  margin-bottom: 0px;
}
aside {
  flex: 0 0 300px;
}
